* {
    box-sizing: border-box;
}
div{
    padding: 5px;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: purple;

}
.child {
    background: #4747e9;
    margin-bottom: 10px;
}
.child_1{
    background: #4747e9;
    margin-bottom: 10px;
}
.child_2{
    background: #4747e9;
}
.w-25{
    width: 25%;
}
.w-33{
    width: 33.3333%;
}
.w-50 {
    width: 50%;

}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
[class*="w-"]{
    float: left;
    background: transparent;
    text-align: center;
}
.w-25 .block{
    background: red;
}
.w-33 .block{
    background: yellow;
}
.w-50 .block{
    background: green;
}
@media (max-width: 1200px) {
    .w-25 {
        width: 50%;
    }
    .w-50 {
        width: 100%;
}
    @media (max-width: 600px) {
        .w-25{
            width: 100%;
        }
        .w-33{
            width: 50%;
        }
        .w-50 {
            width: 100%;
        }

